.feature{
 
    background-color: var(--color-white);
    position: relative;
}
.container{
    position:relative;
    top: -100px;
    
 // top: 95%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    z-index: 1;
    animation: moveInLeft 3s  ;
    &_u{
        width: 80%;
    }
    &_one{
        height: 20rem;
         
        background-color: var(--color-secondary);
        display: flex;
        justify-content: center;

        flex-direction: column;
        color: black;
        
    
        
    }
    
   
    &_two{
        height: 20rem;
        width: 100%;
        background-color: var(--color-primary);
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        
    }
    
    &_three{
        height: 20rem;
         
        background-color: var(--color-secondary);
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: black;
        
    }
    
    &_four{
        height: 20rem;
        
        background-color: var(--color-primary);
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        
    }
    
}
.container i{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 40px;
    
}
.announcement{
   display: flex;
   justify-content: center;
   padding-bottom: 10%;
}
.heading{
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     
    &_upper{
        font-family: 'Play', sans-serif;
        font-size: 2rem;
        &_right{
            color: var(--color-primary);
        }
    }
    &_lower{
        // padding-left: 200px;
        padding-top: 10px;
         
    }
}
.underline{
    
    position: relative;
   width: fit-content;
   height: fit-content;
     
    &_line{
        background-color: var(--color-primary);
        height: 2px;
        width: 7rem;
    }
    &_oval{
         margin-left: 20px;
         margin-top: -4px;
         
        background-color: var(--color-primary);
        height: 5px;
        width: 25px;
        border-radius: 30px;
    }
}


// buttons

.btn_white:link,
.btn_white:visited{
    padding: 5px 10px 5px 10px;
    background-color: white;
    border: 1px solid rgba(48, 39, 39, 0.904);
    border-radius: 5px;
     
    font-size: 15px;
    color: black;
    transition: background-color 0.2s, border 0.2s;
}
.btn_white:hover{
    background-color: grey;
    border: none;
}
.btn_white:active{
     margin: 2px 2px;
    box-shadow: 2px 2px 5px;
    background-color: burlywood;

}
.btn_red:link,
.btn_red:visited{
    padding: 5px 10px 5px 10px;
    background-color: var(--color-primary);
     
    border-radius: 5px;
    color: white;
    font-size: 15px;
     
    transition: background-color 0.2s ;
}
.btn_red:hover{
    background-color: red;
     
}
.btn_red:active{
    
    box-shadow: 2px 2px 5px;
    background-color: var(--color-primary);

}
// paragraphs
.para{
    padding: 2% 2%;
    font-size: 200%;
    
}
@media screen and (max-width: 769px){
     
   .head_mid{
       font-size: 130%;
       top: 20%;
       padding-left: 30px;
   }
}