<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logo-new.png" type="image/gif" sizes="10x20">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <title>Pakur B.ed College</title>
</head>
<body>
    <header class="header">
        <div class="upper-bar">
            <div class='row'>
            <div class="col span-1-of-3">
                <div class="upper-bar_left">
                    <a class="upper-bar_left_l" href="#"><i class="far fa-calendar-alt"></i>Academic calender</a>
                </div>
            </div>
            <div class="col span-1-of-3">
                <div class="upper-bar_middle">
                    <a  class="upper-bar_middle_m" href="http://"><i class="fab fa-twitter"></i></a>
                    <a  class="upper-bar_middle_m" href="http://"><i class="fab fa-facebook-square"></i></a>
                    <a  class="upper-bar_middle_m" href="http://"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col span-1-of-3">
                <div class="upper-bar_right">
                    <a class="upper-bar_right_r" href="#"><i class="fas fa-envelope"></i>PBCEmail</a>
                </div>
            </div>
            </div>     
        </div>
        <div class="header1">
            <div class=" " id='bar1_icon' onclick='toggle1()'>
                <i class="fa fa-bars"></i>
              </div>
            <div class="header1_loc">
                
                    <img class="header1_loc_left_logo" src="/img/logo-new-bw.png" alt="">
                    <h1 class="header1_loc_left_name">Pakur B.Ed College</h1>
                
           
                
            </div>    
                    
                
                <div class="header1_navbar" id="my_header1">
                    <ul class="header1_navbar_li">
                        <li><img src="/img/logo-short.png" alt=""></li>
                        <li><a class="header1_navbar_li_home" href="/"><i class="fas fa-home"></i></a></li>
                        <li><a class="header1_navbar_li_item" href="/academics">Academics </a></li>
                        <li><a class="header1_navbar_li_item" href="/admission">Admissions</a></li>
                        <li><a class="header1_navbar_li_item" href="/recog">Recognition & Affiliation</a></li>
                        <li><a class="header1_navbar_li_item" href="/gallery">Gallery</a></li>
                        <li><a class="header1_navbar_li_item" href="/contact">Contact Us</a></li>
                    </ul>
                </div>
                 <div class="header1_mid">
                     <h1 class="header1_mid_big">
                         WELCOME TO PAKUR B.ED COLLEGE
                     </h1>

                 </div>

            
        </div>
    </header>