<%- include('partials/header')%>
</body>
<div class="heading">
    <div class="heading_upper">
     <h1>Academics</h1>
      </div>
   
    <div class="heading_lower">
     <div class="underline">
         <div class="underline_line">
         </div>
         <div class="underline_oval">
         </div>
     </div>
     </div>
 </div>
 <p class="para">
     Our Academics is completely under JCECEB. Follow the given link for more information <br>
     <a href="http://jceceb.jharkhand.gov.in">click Here</a>
 </p>
  

 <%- include('partials/footer')%>