<%- include('partials/header')%>
</body>
<div class="heading">
    <div class="heading_upper">
     <h1>Chairman's<span class="heading_upper_right">Message </span></h1>
      </div>
   
    <div class="heading_lower">
     <div class="underline">
         <div class="underline_line">
         </div>
         <div class="underline_oval">
         </div>
     </div>
     </div>
 </div>
 <p class="para">
    We believe that excellence in education is achieved when it is student oriented and delivered with scientific and creative teaching approaches by skilled professors who love their subjects and their students. Students cannot become gems until they are polished by good teachers. Dedicated and effective teachers are harbingers of good education. Keeping this in mind we always look for excellent faculty and infrastructure.

    Academic excellence, holistic education, global relevance and values continue to be the cornerstones of Pakur B.Ed. College, Pakur. I am confident these four aspects will always define learning at Pakur B.Ed. College, Pakur. We are deeply entrenched in the process of building an academic culture that is based on norms of merit based advancement and putting an academic structure in place that would help build resources like well equipped labs, library, etc. that are needed to create an outstanding institution.
 </p>
  

 <%- include('partials/footer')%>