<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logo-new.png" type="image/gif" sizes="10x20">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <title>Pakur B.ed College</title>
</head>
<body>
    <header class="header">
        <div class="upper-bar">
            <div class='row'>
            <div class="col span-1-of-3">
                <div class="upper-bar_left align-center">
                    <a class="upper-bar_left_l" href="#"><i class="far fa-calendar-alt"></i>Academic calender</a>
                </div>
            </div>
            <div class="col span-1-of-3">
                <div class="upper-bar_middle align-center">
                    <a  class="upper-bar_middle_m" href="http://"><i class="fab fa-twitter"></i></a>
                    <a  class="upper-bar_middle_m" href="http://"><i class="fab fa-facebook-square"></i></a>
                    <a  class="upper-bar_middle_m" href="http://"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col span-1-of-3">
                <div class="upper-bar_right align-center">
                    <a class="upper-bar_right_r" href="#"><i class="fas fa-envelope"></i>PBCEmail</a>
                </div>
            </div>
            </div>     
        </div>
        <div class="head">
            <div class="head_loc">
                <div class="row">
                    <div class="col span-1-of-2">
                        <div class="head_loc_left  ">
                            <img class="head_loc_left_logo" src="/img/logo-new-bw.png" alt="">
                            <h1 class="head_loc_left_name">Pakur B.Ed College</h1>
                        </div>
                    </div>
                    <div class="col span-1-of-2  ">
                        <a class="head_loc_right " href="#"  >
                            <h2 class="head_loc_right_name">B.Ed College Pakur, Pakur<br> near police line pakur</h2>
                            <i class="head_loc_right_icon fas fa-map-marker-alt"></i>
                        </a>
                    </div>
                </div>
              
               
                
            </div>    
                    
            <div class=" " id='bar_icon' onclick='toggle()'>
                <i class="fa fa-bars"></i>
              </div>
           
                <div class="head_navbar" id="my_header">
                   
                    <ul class="head_navbar_li">
                        <li><img src="/img/logo-short.png" alt=""></li>
                        <li><a class="head_navbar_li_home" href="#"><i class="fas fa-home"></i></a></li>
                        <li><a class="head_navbar_li_item" href="/academics">Academics </a></li>
                        <li><a class="head_navbar_li_item" href="/admission">Admissions</a></li>
                        <li><a class="head_navbar_li_item" href="/recog">Recognition & Affiliation</a></li>
                        <li><a class="head_navbar_li_item" href="/gallery">Gallery</a></li>
                        <li><a class="head_navbar_li_item" href="/contact">Contact Us</a></li>
                    </ul>
                   
                </div>
                 <div class="head_mid">
                     <h1 class="head_mid_big">
                         WELCOME TO PAKUR B.ED COLLEGE
                     </h1>

                 </div>

            
        </div>
        <div class="cbox">
             <div class="container">
            <div class="row container_u">
                <div class="col span-1-of-4">
                    <a href="#">
                        <div class="container_one">
                            <h2>RESEARCH</h2>
                            <i class="fas fa-flask"></i>
                            <p>Mapping the innovation</p>
                            
                        </div>
                    </a>
                </div>
                <div class="col span-1-of-4">
                    <a href="#">
                        <div class="container_two">
                            <h2>ACHIEVEMENTS</h2>
                            <i class="fas fa-medal"></i>
                            <p>Our pride</p>
                            
                        </div>
                    </a>
                </div>
                <div class="col span-1-of-4">
                    <a href="#">
                        <div class="container_three">
                            <h2>NEWS</h2>
                            <i class="far fa-newspaper"></i>
                            <p>Panaroma of events</p>
                            
                        </div>
                    </a>
                </div>
                <div class="col span-1-of-4">
                    <a href="#">
                        <div class="container_four">
                            <h2>CAPMPUS LIFE</h2>
                            <i class="fas fa-users"></i>
                            <p>Explore beyond the classroom</p>
                            
                        </div>
                    </a>
                </div>
            </div>
           
           
            
           
        </div>
        </div>
       
    </header>
    <section class="feature">
        <div class="announcement">
            <div class="row">
                <div class="heading">
                    <div class="heading_upper">
                     <h1>IMPORTANT <span class="heading_upper_right">ANNOUNCEMENT</span></h1>
                    </div>
                   
                    <div class="heading_lower">
                     <div class="underline">
                         <div class="underline_line">
                         </div>
                         <div class="underline_oval">
                         </div>
                     </div>
                     </div>
                     <div class="agni-img" style="padding-top:40px ;">
                        <img src="./img/agniveer.jpeg" alt="" srcset="">
                    </div>
                 </div>
                    
            </div>
            </div>
            
        
        <div class="row about">
            <div class="col span-1-of-2 about_college">
                <div class="heading  ">
                    <div class="about_college_heading_upper">
                     <h1>ABOUT <span class="heading_upper_right">B.ED COLLEGE</span></h1>
                      </div>
                   
                    <div class="heading_lower">
                     <div class="underline">
                         <div class="underline_line">
                         </div>
                         <div class="underline_oval">
                         </div>
                     </div>
                     </div>
                </div>
                <p> Shakuntala Foundation was established in the name of Late Shakuntala Devi, wife of Late Phuldeo Prasad Sinha. Both husband and wife served as District Educational Officers in the Bihar Cadre. Their dedication towards education was carried forward by the Trustees Arunendra Kumar and Bimlendra Kumar....</p>
                <div class="about_college_btn">
                    <a class="btn_white " href="/recog">Read more </a>
                    <div class="about_college_btn_red">
                        <a class="btn_red " href=" #">Newsletter </a>
                    </div>

                    
                </div>
                
            </div>
            
            <div class="col span-1-of-2 about_director">
                <div class="heading ">
                    <div class="heading_upper">
                     <h1>CHAIRMAN'S <span class="heading_upper_right">CORNER</span></h1>
                      </div>
                   
                    <div class="heading_lower">
                     <div class="underline">
                         <div class="underline_line">
                         </div>
                         <div class="underline_oval">
                         </div>
                     </div>
                     </div>
                <div class="about_director_content">
                    <img style="height: 100px;width: auto;" src="./img/IMG_8787-1030x687.jpg" alt="about_director_content_img">
                    <p class="about_director_content_line">
                       Mr. Bimlendra Kumar<br>
                        We believe that excellence in education is achieved when it is student oriented and delivered with scientific and creative teaching approaches by skilled professors....
                    </p>
                </div>
                <div class="about_director_content_btn">
                    <a class="btn_white" href="/message">Read more </a>
                </div>
                
                 
            </div>

             

        </div>
        
    </section>
    <div class="academic">
        <div class="row">
            <div class="academic_heading">
                <div class="heading  ">
                    <div class="about_college_heading_upper">
                     <h1>ACAMDEMIC <span class="heading_upper_right">UNITS</span></h1>
                      </div>
                   
                    <div class="heading_lower">
                     <div class="underline">
                         <div class="underline_line">
                         </div>
                         <div class="underline_oval">
                         </div>
                     </div>
                     </div>
                </div>
                
                
            </div>
        </div>
        
         
        <div class="academic_container">
            <div class="row academic_container_u">
                 <div class="col span-1-of-4">
                    <a class="academic_container_box" href="">
                        <div class="academic_container_box_icon">
                            <i class="fas fa-landmark"></i>
                        </div>
                            
                            <h2 class="academic_container_box_icon_h">DEPARTMENTS</h2>
            
                         
                    </a>
                 </div>
                 <div class="col span-1-of-4">
                    <a class="academic_container_box" href="">
                        <div class="academic_container_box_icon">
                           <i class="fas fa-atom"></i>
                        </div>
                           
                           <h2 class="academic_container_box_icon_h">FACILIIES</h2>
           
                        
                   </a>
                 </div>
                 <div class="col span-1-of-4">
                    <a class="academic_container_box" href="">
                        <div class="academic_container_box_icon">
                           <i class="fas fa-book"></i>
                        </div>
                           
                           <h2 class="academic_container_box_icon_h">CENTRES OF EXCELLENCE</h2>
           
                        
                   </a>
                 </div>
                 <div class="col span-1-of-4">
                    <a class="academic_container_box" href="">
                        <div class="academic_container_box_icon">
                           <i class="far fa-building"></i>
                        </div>
                           
                           <h2 class="academic_container_box_icon_h" >SCHOOLS</h2>
           
                        
                   </a>
                 </div>
                
                 </div>
                   
             </div>
           
        </div>
            
        
    </div>
    <div class="notice">
        <div class="heading">
            <div class="heading_upper">
             <h1>NOTICE <span class="heading_upper_right">BOARD</span></h1>
              </div>
           
            <div class="heading_lower">
             <div class="underline">
                 <div class="underline_line">
                 </div>
                 <div class="underline_oval">
                 </div>
             </div>
             </div>
         </div>
         <div class="notice_box">
             <div class="notice_box_heading" >
                 <h2>NOTICE 2020-2021</h2>
             </div>
             <ul class="notice_box_list">
                 <li><i class="fas fa-check-circle"></i>
                    <a href="/files/admission.jpeg" download>
                        Admission 2021-23 <i class="far fa-file-pdf"></i></a></li>
                 
             </ul>
             <div class="notice_box_btn">
                <a class="btn_white" href=" #">VIEW ALL </a>
             </div>

         </div>

    </div>
    <div class="numbers">
        <div class="numbers_student">
            <h1>1000+</h1>
            <div class="heading_lower">
                <div class="underline">
                    <div class="underline_line">
                    </div>
                    <div class="underline_oval">
                    </div>
                </div>
            </div>
            <h3>STUDENTS</h3>

        </div>
        <div class="numbers_faculty">
            <h1>100+</h1>
            <div class="heading_lower">
                <div class="underline">
                    <div class="underline_line">
                    </div>
                    <div class="underline_oval">
                    </div>
                </div>
            </div>
            <h3>FACULTIES</h3>
        </div>
        <div class="numbers_staff">
            <h1>20+</h1>
            <div class="heading_lower">
                <div class="underline">
                    <div class="underline_line">
                    </div>
                    <div class="underline_oval">
                    </div>
                </div>
            </div>
            <h3>STAFFS</h3>
        </div>
    </div>
     
</body>
<%- include('partials/footer')%>