<%- include('partials/header')%>
</body>
<div class="heading">
    <div class="heading_upper">
     <h1>Recognition & <span class="heading_upper_right">Affiliation </span></h1>
      </div>
   
    <div class="heading_lower">
     <div class="underline">
         <div class="underline_line">
         </div>
         <div class="underline_oval">
         </div>
     </div>
     </div>
 </div>
 <p class="para">
    Shakuntala Foundation was established in the name of Late Shakuntala Devi, wife of Late Phuldeo Prasad Sinha. Both husband and wife served as District Educational Officers in the Bihar Cadre. Their dedication towards education was carried forward by the Trustees Arunendra Kumar and Bimlendra Kumar, with the sole aim of extension of educational facilities in an educationally backward district like Pakur, a predominantly tribal area. The first initiative of Shakuntala Foundation was the Delhi Public School, Pakur, which was warmly welcomed by the people of Pakur.
 </p>
  

 <%- include('partials/footer')%>